<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @testimonial.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @testimonial.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @testimonial.company %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @testimonial.comment %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
